#root {
  margin: 0 auto;
  padding: 0rem;
  width: 100%;
  height: 100%;
}

.page {
  min-height: 1200px;

  background-image: url("/blackandwhiteroses.png");
  background-size:100%;
  background-repeat:repeat;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header-section {
  color: black;
  background-color: white;
  width: 100%;
  height: 80px;
  border-bottom: 4px solid;
  box-shadow: 0px 0px 10px 1px black;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0px;

  z-index: 99;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  animation-duration: 1.5s;
  animation-name: move-down;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes move-down {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
      opacity: 1;
  }
}
.site-title {
  position: relative;
  font-family: GreatVibes;
  height: 60px;
  font-size: 36px;
  letter-spacing: 12px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.site-title:hover > #logo{
  height: 60px;
}
#logo {
  align-self: center;
  position: absolute;
  height: 0px;
  width: 60px;
  left: 45%;
  bottom:20%;
  display: flex;
  align-items: end;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
#logo > img {
  all: unset;
  width: auto;
  height: 60px;
}
#home-button {
  all: unset;
  transition: all 0.25s ease-in;
}
#home-button:hover {
  transform: scale(1.1);
}

nav {
  min-height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap:32px;
}

.nav-header {
  all: unset;
  text-align: center;
  width: auto;
  font-size: 18px;
  letter-spacing: 8px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

.nav-header:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.content {
  background-color: whitesmoke;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 50px;
  flex: 1 0 100%;
}

input {
  width: 80%;
}

img {
  max-width: 90%;
  max-height: 90%;
  width: fit-content;
  height: auto;
}

/* Footer CSS Properties */
.footer {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: white;
  background-color: black;

  display: flex;
  flex-flow: column nowrap;
}
.footer > hr {
  margin: 0px;
}
.top {
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
}
.top > div {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 12px;
  gap: 8px;
  flex: 1;
}
.subscribe > input {
  all: unset;
  color: white;
  padding: 4px 12px;
  border-bottom: 2px solid white;
}
.subscribe > input:active , .subscribe > input:focus {
  box-shadow: inset 0px 0px 4px 2px white;
}
.subscribe > button {
  outline: white solid 1px ;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
}
.socials {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-footer {
  all: unset;
  width: auto;
  letter-spacing: 4px;
  padding: 0px 12px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

.nav-footer:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.top > p {
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}
.top > img {
  all: unset;
  max-width: 500px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  letter-spacing: 4px;
  gap: 4px;
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.vl {
  border-left:1px solid white;
  height: 20px;
  margin-left: -3px;
}

/* Home Page Styles */

.category-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 8px;
}

.product-line > button {
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.scroll-left {
  top: 80%;
  left: 8%;
}
.scroll-right {
  top: 80%;
  right: 8%;
}

.product-line {
  align-self: center;
  width: 90%;
  height: 600px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 12px;
  padding: 4px 0px;
  margin-top: 8px;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.product-line > .preview {
  min-width: 350px;
}
.product-line-header {
  align-self: center;
  width: 90%;
  display: flex;
}
.product-line-header > div {
  border: 2px solid black;
  width: 100%;
  height: 0px;
  align-self: center;
}

.nav-product-button {
  all: unset;
  font-size: 24px;
  letter-spacing: 8px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

.nav-product-button:hover {
  transform: scale(0.90);
  border-bottom: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}