:root {
  --logo-size: clamp(50px, 5vw, 80px);
  --header-size: clamp(1.5em, 3vw, 3em);
  --banner-size: clamp(2em, 4vw, 6em);
  --global-font-size: clamp(1em, 2vw, 1.5em);
  --footer-size: clamp(0.8em, 1vw, 1em);
  --footer-image-width: clamp(50px, 30vw, 500px);
  --button-font-size: clamp(0.6em, 100%, 1em);
}

.page {
  min-height: 1200px;
  display: flex;
  flex-flow: column nowrap;
}

.header-section {
  color: black;
  background-color: white;
  width: 100%;
  height: 100px;
  border-bottom: 4px solid;
  box-shadow: 0px 0px 0px 0px black;
  top: 0px;
  left: 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  z-index: 99;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  animation-duration: 1.5s;
  animation-name: move-down;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes move-down {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
      opacity: 1;
  }
}
.site-title {
  min-width: 250px;
  position: relative;
  font-family: GreatVibes;
  height: var(--logo-size);
  font-size: var(--header-size);
  letter-spacing: 4px;
  line-height: 0;

  display: flex;
  justify-content: center;
  align-items:center;
  gap: 40px;
}
.site-title:hover > #logo{
  height: 80px;
}
#logo {
  align-self: end;
  height: 0px;
  width: auto;
  display: flex;
  align-items: end;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
#logo > img {
  all: unset;
  width: auto;
  height: var(--logo-size);
}
#home-button {
  transition: all 0.25s ease-in;
}
#home-button:hover {
  transform: scale(1.1);
}

nav {
  min-height: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  column-gap:32px;
}

.nav-header {
  all: unset;
  text-align: center;
  width: auto;
  font-size: var(--global-font-size);
  letter-spacing: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

.nav-header:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.content {
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 50px;

  display: flex;
  flex-flow: column nowrap;
  flex: auto;
}

input {
  width: 80%;
}

/* Footer CSS Properties */
.footer {
  width: 100%;
  height: auto;
  font-size: var(--footer-size);
  color: white;
  background-color: black;

  display: flex;
  flex-flow: column nowrap;
}
.footer > hr {
  margin: 0px;
}
.top {
  height: auto;
  display: flex;
  flex-flow: row nowrap;
}
.top > div {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 8px;
  gap: 8px;
  flex: 1;
}

.top > img {
  all: unset;
  width: var(--footer-image-width);
  height: auto;
}

.subscribe > input {
  all: unset;
  color: white;
  padding: 4px 12px;
  border-bottom: 2px solid white;
}
.subscribe > input:active , .subscribe > input:focus {
  box-shadow: inset 0px 0px 4px 2px white;
}
.subscribe > button {
  outline: white solid 1px ;
  font-size: var(--global-font-size);
  font-weight: bold;
  letter-spacing: 4px;
}
.socials {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socials > a > img {
  width: 64px;
}

.nav-footer {
  all: unset;
  width: auto;
  letter-spacing: 4px;
  padding: 0px 12px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

.nav-footer:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}


.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  letter-spacing: 4px;
  gap: 4px;
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.vl {
  border-left:1px solid white;
  height: 20px;
  margin-left: -3px;
}

/* Home Page Styles */

.front-cover {
  position: relative;
  font-family: GreatVibes;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-cover > .image {
  max-height: 1000px;
  width: 100%;
  object-fit: cover;
  filter: blur(4px);
  filter:drop-shadow(0);
}
.front-cover > .banner {
  width: 100%;
  height: 15%;
  position: absolute;
  background-color: whitesmoke;
  opacity: 0.6;
  filter: blur(2px);
}
.front-cover > p {
  position: absolute;
  width: 100%;
  color: black;
  font-size: var(--banner-size);
  font-weight: bold;
  letter-spacing: 8px;
  text-align: center;
  padding: 0px;
}
#cover-button {
  font-family: FiraMono;
  position: absolute;
  top: 70%;

  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

.category-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.scroll-left {
  top: 80%;
  left: 8%;
}
.scroll-right {
  top: 80%;
  right: 8%;
}

.product-line {
  min-height: 200px;
  height: clamp(30vh, 50vw,65vh);
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 12px;
  padding: 0px 16px;
  margin-top: 8px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.product-line-header {
  align-self: center;
  width: 90%;
  display: flex;
}
.product-line-header > div {
  border: 2px solid black;
  width: 100%;
  height: 0px;
  align-self: center;
}
.product-line > button {
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-product-button {
  all: unset;
  font-size: var(--global-font-size);
  letter-spacing: 8px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

.nav-product-button:hover {
  transform: scale(0.90);
  border-bottom: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  :root {
    --logo-size: 40px;
    --header-size: 1.5em;
    --banner-size: 2em;
    --global-font-size: 1em;
    --footer-size: 0.8em;
    --footer-image-width: 200px;
    --button-font-size: 1em;
  }

  .header-section {
    flex-flow: column nowrap;
  }
  nav {
    width: 100%;
    column-gap: 4px;
  }
  .front-cover > .banner {
    height: 30%;
  }
  .product-line {
    height: 65vh;
    padding: 8px 16px;
  }

  .nav-footer {
    padding: 0px 4px;
  }
  .top , .bottom {
    flex-flow: column nowrap;
  }
  .top > div {
    margin: 8px;
  }
  .top > img {
    width: 100%;
  }
  .socials > a > img {
    width: 32px;
  }
  .bottom {
    gap: 0px;
    height: 100px;
  }
  .vl {
    visibility: hidden;
  }

}