:root {
  --max-height: clamp(200px,30vw,600px);
  --max-width: clamp(100px,20vw,500px);
}

.preview {
  height: clamp(200px, 100%, var(--max-height));
  width: clamp(100px, 100%, var(--max-width));
  outline: 2px solid black;
  transition: all 0.25s ease-out;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.preview:hover {
  transform: scale(0.95);
}
.preview:hover > .preview-image{
  box-shadow:inset 0 0em 1em black;
}

.preview-image {
  height: calc(var(--max-height) - 50px);
  width: var(--max-width);
  box-shadow:inset 0 0em 0em black;
  background-color: white;
  transition: all 0.5s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.preview-image > img {
  height: clamp(100px, 80% , 550px);
  width: clamp(100px, 80% , 500px);
}

.preview-info {
  min-height: 50px;
  width: 100%;
  height: 50px;
  
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
/* Product Page Styles */
.product {
  background-color: white;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
}

.product-image {
  background-color: white;
  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image > img {
  width: auto;
  height: 80%;
}
.product-info {
  width: 100%;

  background-color: rgba(128, 128, 128, 0.20);
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  flex: 1;
}

.desc {
  min-width: 200px;
  width: 90%;
  height: auto;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.options {
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-evenly;
  align-items: flex-start;
  width: 90%;
  height: auto;
}
.options > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.p-button {
  all: unset;
  width: 80px;
  height: 25px;
  text-align: center;
  border: 2px solid transparent;
  transition: all 0.5 ease-in-out;
}
.p-button:hover {
  font-weight: bold;
  border: 2px solid black;
  border-radius: 64px;
}
.p-button:active , .p-button:focus {
  background-color: black;
  color: white;
  border: 2px solid;
  border-radius: 64px;
}

.product-button {
  width: 90%;
  align-self: center;
  border-radius: 0px;
  background-color: white;
  color: black;
}
#buy {
  background-color: black;
  color: white;
}
.product-button > div {
  width: 0%;
  transition: all 0.75s;
  border: 1px solid black;
}
.product-button:hover > div {
  width: 100%;
  border: 1px solid white;
}
#add > div {
  border: 1px solid white;
}
#add:hover > div {
  border: 1px solid black;
}
/* Cart Styles for Products */
.cart-product {
  background-color: white;
  width: 100%;
  height: 150px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.cart-product-image {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cart-product-image > img {
  height: 80%;
  width: 50%;
}

.cart-product-info {
  width: 100%;
  height: 100%;

  background-color: rgba(128, 128, 128, 0.20);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  gap: 0px;
}
.cart-product-info > .left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
.cart-product-info > .right {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-end;
  flex: 1;
}

.price {
  font-size: clamp(1rem, 0.7vw, 1.5rem);
}

.title {
  font-size: clamp(0.7rem, 0.5vw, 1.5rem);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.p-amount {
  width: 40px;
  height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

p {
  padding: 0px 16px;
  margin: 0px;
}