.shop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .searchSection {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    flex: 1;
  }
  
  .search {
    min-width: 300px;
    min-height: 30px;
    width: 100%;
    height: auto;
  
    font-size: 18px;
    border-radius: 32px;
    text-align: start;
    padding: 0px 12px;
  }
  
  .filters {
    display: flex;
    flex-flow: column nowrap;
  
    gap: 20px;
  }
  
  label {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .layout {
    width: 90%;
    height: auto;
    align-self: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3%;
    row-gap: 2vh;
  }

  @media screen and (max-width: 500px) {
    .searchSection {
      flex-flow: column nowrap;
    }
    .search {
      min-width: 150px;
    }
  }