@font-face {
  font-family: 'FiraMono';
  src: local('FiraMono'), url(./fonts//FiraMono-Regular.ttf), format('opentype');
  font-family: 'GreatVibes';
  src: local('GreatVibes'), url(./fonts//GreatVibes-Regular.ttf), format('opentype');
}

#root {
  align-self: center;
  font-family: FiraMono, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  border-left: 0px;
  border-right: 0px;
  width: 100%;
}

select {
  min-width: 100px;
  text-align: center;
  font-size: 18px;
}

button {
  border: 0px solid transparent;
  font-family: inherit;
  font-size: var(--button-font-size);
  padding: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  box-shadow: inset 0px 0px 3px 2px white;
}

button:active,
button:focus-visible {
  transform: scale(0.95);
  outline: 4px auto black;
}

@media screen and (max-width: 500px) {
  button {
    padding: 0.4em;
  }
}